.kc__classic_layout
  .kc__app_bar.primary.mdl-shadow--2dp
    %nav.kc__nav
      = image_tag 'sae_icon.png', class: 'kc__square_icon'
      %h3= 'MAIN MENU'

    %nav.kc__nav
      = link_to 'Logout', "/logout", method: :delete, class: 'mdl-button mdl-js-button'

  #main_menu
    = link_to 'TRANSACTION MANAGER', "/transactions", class: 'kc__input kc__button mdl-shadow--2dp primary'

    = link_to 'CREATE TRANSACTION', "/transactions/new", class: 'kc__input kc__button mdl-shadow--2dp primary'

    - if @enough_mana_for_account_management
      = link_to 'ACCOUNT MANAGER', "/users", class: 'kc__input kc__button mdl-shadow--2dp primary'
